{% extends 'inventory/base.html' %}
{% block content %}

    <h2>Category List</h2>

    <table class="table table-bordered">

        <tr>
            <th>ID</th>
            <th>Category Name</th>
            <th>Action</th>
        </tr>

        {% for category in categories %}
        <tr>
            <td>{{ category.id }}</td>
            <td>{{ category.category_name }}</td>

            <td>
               <a href="/category/update/{{category.id}}/"
               class="btn btn-warning btn-sm">
                Edit
               </a>

               <a href="/category/delete/{{category.id}}/"
                class="btn btn-danger btn-sm">
                Delete
               </a>
            </td>
        </tr>
        {% endfor %}

    </table>

{% endblock %}